.header {
    border-bottom: 1px solid gray;
    height: 65px;
    display: flex;
    justify-content: space-around;
    
}

.header__nav {
    width: 55%;
}

.header__list {
    display: flex;
    justify-content: space-around;    
}

.header__logo a {
    font-size: 30px;
}

.header__link {
    font-size: 22px;
}

