@import "reset.css";
@import "variable.css";

@import "components/header.css";
@import "components/contact-bar.css";
@import "components/main-screen.css";
@import "components/side-bar.css";

@import "screens/index.css";
@import "screens/about.css";
@import "screens/skills.css";
@import "screens/works.css";

@font-face {
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-family: "main-font";
}

body {
    font-family: "main-font";
    color: var(--text);
    overflow: scroll;
    height: 1000px;
}

