@import "reset.css";
@import "variable.css";

@import "components/nav-bar.css";
@import "components/contact-bar.css";
@import "components/main-screen.css";

@import "screens/index.css";
@import "screens/about.css";
@import "screens/skills.css";
@import "screens/projects.css";

@font-face {
    src: url("../font/LeferiPointWhiteOblique.ttf");
    font-family: "main-font";
}

body {
    font-family: "main-font";
    background-color: var(--background);
    color: var(--text);
}

