* {
    color: var(--main-color);
}

.menu-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.menu-btn i {
    color: var(--main-color);
}

.header {
    background-color: var(--main-background);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
}

.header__title {
    display: flex;
    align-items: flex-end;
}

.header__title h1 {
    font-size: 200px;
    color: var(--main-color);
}

.header__title span {
    font-size: 30px;
    color: var(--main-color);
}

.header__intro {
    font-size: 20px;
    font-weight: 500;
    margin-top: 200px;
    padding-left: 50px;
    color: var(--main-color);
}

.more-btn {
    display: flex;
    background-color: white;
    width: 150px;
    height: 39px;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom : 58px;
    right: 540px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
}

.more-btn:hover {
    width: 155px;
    height: 44px;
}
