@font-face {
    src: url("../font/LeferiPointWhiteOblique.ttf");
    font-family: "main-font";
}

.header {
    display: flex;
    height: 100vh;
    flex-direction: column;
    margin-left: 20px;
}

.header img {
    position: absolute;
    right: 14px;
    top: 12px;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.header img:hover {
    opacity: 0.5;
}

.header__menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 450px;
    height: 100vh;
    background-color: white;
    padding-top: 60px;
}

.header__menu a {
    cursor: pointer;
    width: 100%;
    height: 60px;
    cursor: pointer;
    margin: 15px;
    line-height: 60px;
    font-size: 40px;    
}

.header__menu a:hover {
    font-weight: 600;
}

.header__title {
    display: flex;
    align-items: baseline;    
}

.header__title h1 {
    font-size: 200px;
    color: var(--text);
}

.header__title span {
    font-size: 30px;
    font-weight: 900;
}

.header__intro {
    margin-top: 140px;
    font-size: 30px;
    letter-spacing: 3px;
    line-height: 120%;
}

.hidden {
    display: none;
}




