.projects-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project {
    width: 600px;
    height: 400px;
    margin-bottom: 80px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.project__title {
    font-size: 30px;
    margin-bottom: 10px;
}

.project__date {
    width: 100%;
    font-size: 15px;
    color: #bbb;
    border-bottom: 1px solid var(--text);
    text-align: center;
    padding-bottom: 10px;
}

.project__contents {
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 40px;
}

.project__img {
    width: 200px;
    height: 250px;
    margin-right: 40px;
}

.project__description {
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project__description p {
    line-height: 22px;
}

.project__link {
    display: flex;
    justify-content: space-between;
    margin: 15px 0px;
}

.project__link span {
    font-weight: 600;
    margin-right: 30px;
}

.project__link a {
    color: #3a87e1;
}

.project__link a:hover {
    color: var(--text);
}