@keyframes contactAni {
    100% {
      opacity: 1;
    }
  }

  @keyframes textAni {
    0% {
      transform: scaleY(1);
    }
    50% {
      transform: scaleY(1.3);
    }
    100% {
      transform: scaleY(1);
    }
  }

  .contact-div {
    position: fixed;
    bottom: 0px;
    right: 0px;
    font-weight: 600;
  }

  .contact-bar span {
    color: white;
    font-weight: 600;
    margin: auto -1px;
    line-height: 100px;
    animation: textAni 0.2s linear infinite;
  }

  .contact-bar span:nth-child(1){
    animation-delay: 0.1s;
  }
  .contact-bar span:nth-child(1){
    animation-delay: 0.15s;
  }
  .contact-bar span:nth-child(1){
    animation-delay: 0.2s;
  }
  .contact-bar span:nth-child(1){
    animation-delay: 0.25s;
  }
  .contact-bar span:nth-child(1){
    animation-delay: 0.3s;
  }
  .contact-bar span:nth-child(1){
    animation-delay: 0.35s;
  }
  .contact-bar span:nth-child(1){
    animation-delay: 0.4s;
  }

  
  .contact-bar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--main-color);
    text-align: center;
  }
  
  .contact-icons__link {
    position: fixed;
    opacity: 0;
  }
  
  .contact-icons__link:nth-child(1) {
    bottom: 130px;
    right: 20px;
    animation-delay: 0.1s;
  }
  
  .contact-icons__link:nth-child(2) {
    bottom: 110px;
    right: 110px;
    animation-delay: 0.2s;
  }
  
  .contact-icons__link:nth-child(3) {
    bottom: 20px;
    right: 130px;
    animation-delay: 0.3s;
  }
  
  .contactHover {
    animation: contactAni 0.3s 1 ease-in-out forwards;
  }

.contact-icons__link img {
    width: 25px;
    height: 25px;
}

.contact-icons__link:nth-child(1) img {
    width: 27px;
    height: 27px;
}

.contact-icons__link:nth-child(3) img {
    width: 22px;
    height: 22px;
}

.contact-icons__link:hover img{
    position:relative;
    right:3px;
}