.contact-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 50px;
    right: 0px;
    margin-right: 10px;
}

.contact-bar__title {
    writing-mode: vertical-lr;
    letter-spacing: 10px;
    cursor: pointer;
    margin-bottom: 30px;
}

.contact-bar__link {
    cursor: pointer;
}

.contact-bar__link:hover img{
    opacity: 0.6;
}

.contact-bar__link img {
    width: 25px;
    height: 25px;
    margin: 10px 0px;
}

.contact-bar__link:nth-child(2) img {
    width: 25px;
    height: 25px;
    
}

.contact-bar__link:last-child img {
    width: 20px;
    height: 20px;
    margin-top: 15px;
}