@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
main {
    font-family: 'S-CoreDream-3Light';
    padding: 160px 30px 60px 30px;
    margin: auto;
    width: 900px;
    
}