* {
    color: var(--text);
}

.nav-bar {
    background-color: var(--background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    position: fixed;
    width: 100%;
}

.nav-bar__logo {
    width: 300px;
    text-align: center;
}

.nav-bar__logo a {
    font-size: 40px;
    font-weight: 800;
}

.nav-bar__logo a span {
    font-size: 15px;
}

.nav-bar__list {
    width: 800px;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin-right: 20px;
}

.nav-bar__list a {
    font-size: 25px;
    padding: 20px;
}

.nav-bar__list a:hover {
    font-weight: 600;
}

.clicked {
    border-bottom: 2px solid var(--text);
    font-weight: 600;
}